
body {
    margin: 0;
    font-family: 'Coiny', cursive;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
      }


a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/* Style the header */
.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
  }
  
  /* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
.active {
    background-color: blueviolet;
    }

/*paralax - background image to scroll through the site*/

.parallax {
    /* The image used */
    background-image: url(../images/tree.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 

.parallax2 {
    /* The image used */
    background-image: url(../images/aboutme.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 

.parallax3 {
    /* The image used */
    background-image: url(../images/space.jpg);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 
/* .container {
    background-color:transparent;
    text-align: center;
    align-content: space-around;
    text-align: justify;
    border: 1px black;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 45px;
    color: white;
} */
.hero-image {
    background: url(../images/space.jpg) no-repeat center; 
    background-size: cover;
    height: 650px;
    position: relative;
    }
.hero-image2 {
    background: url(../images/Juan_Hernandez.jpg) no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
}
.hero-text {
    text-align:justify ;
    position: absolute;
    top: 55%;
    left: 18%;
    color: white;
    }
/*button css */
.button:hover{
    background-color: blueviolet;
    -webkit-text-size-adjust: 110%;
    font-size: 110%;
    border-color: white;
    text-transform: uppercase;
}
.button {
    font-size: 16px;
    padding : 12px 28px;
    border-radius: 12px;
    background-color: transparent; 
    color: black;
    border: 2px solid blueviolet;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    }  

/* Clear floats after the columns */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }



/* Input forms */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
input[type=submit] {
    background-color: blueviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
input[type=submit]:hover {
    background-color: #4CAF50;
  }

input[type=text]:focus {
  background-color: lightblue;
}
  
.formcontainer {
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 73.5%;
    margin-top: 6px;
  }


/*footer flex */
.flex-container{
     display: flex;
     justify-content: space-evenly;
     background-color: transparent;
     
    }
.flex-container> div    {
    background-color: transparent;
    width: 90px;
    height: 90px;
    margin: 0px;
    align-content: center;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    padding : 0px 0px;
    border-radius: 12px;
    border: 2px solid blueviolet;
    overflow: hidden;
    }
.flex-container div:hover{
     font-size: 110;
     border-radius: 100px;
     border-color: white;
     transition-duration: .7s;
     size: 125%;
    }
#grad1{
     height: 50px;
     background-image: linear-gradient( rgba(255,0,0,0),rgba(51,51,51,1));
     }



/*flip the cards to show background information */
.center {
    display: block;
    justify-content: space-around;
    background-color: transparent;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 350px;
    perspective: 1000px;
    float: left;
    margin: 50px 50px 70px 50px;
      }
      
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
      }
      
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
      }
      
.flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
    border-radius: 5px 5px 0 0;
      }
      
.flip-card-back {
    background-color: #333;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
      }
.flip-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
      }
      
.card button:hover {
    opacity: 0.7;
      }



.flex-container2{
        display: flex;
        justify-content: space-evenly;
        background-color: transparent;
       }
.flex-container2> div    {
       background-color: #333;
       width: 150px;
       height: 100px;
       margin: 2px;
       align-content: justify;
       text-align: center;
       line-height: 34px;
       font-size: 16px;
       padding : 0px 0px;
       border-radius: 0px;
       border: 2px solid blueviolet;
       overflow: hidden;
       }
.flex-container2 div:hover{
        font-size: 110;
        border-radius: 100px;
        border-color: white;
        transition-duration: .7s;
        size: 125%;
       }

.container2 {
        background-color:transparent;
        text-align: center;
        align-content: space-around;
        text-align: justify;
        border: 1px black;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        padding: 45px;
        color: white;

}

/* Responsive layout - makes columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 980px) {
    .hero-text, .flex-container, .container, .center, .col-25, .col-75, input[type=submit]  {
        width: 100%;
                    }
            html {
                width: 100%;
            }
            

            .center, {
            float: none; 
                           
            }
            .flip-card-inner, .flip-card-front {
                background-color: transparent;
            }
          
        }

 @media screen and (max-width: 768px) {
            .hero-text, .flex-container, .container, .center, .col-25, .col-75, input[type=submit]  {
                width: 100%;
                            }
                    .center, {
                    float: none; 
                                   
                    }
                    .flip-card-inner, .flip-card-front {
                        background-color: transparent;
                    }
                   
                }

@media screen and (max-width: 640px) and (orientation: landscape) {
    .hero-text, .flex-container, .container, .center, .col-25, .col-75, input[type=submit]  {
    width: 100%;
                }
        .center, {
        float: none; 
                       
        }
        .flip-card-inner, .flip-card-front {
            background-color: transparent;
        }
      
        .header {
            position: static;
        }
            }